/*
Autor: Daniel Roja
*/

/*@import "bootstrap.min.css"*/
@import "vars.stly"

/* Mobile First */
@media screen and (max-width: 768px)
	@impot "base.styl"

/* Tablets: Portrait */
@media screen and (min-width: 769px) and (max-width: 991px)
	@impot "t_portrait.styl"

/* Tablets: Landscape */
@media screen and (min-width: 992px)
	@impot "t_landscape.styl"

/* Desktop */
@media screen and (min-width: 1200px)
	@impot "desktop.styl"
